header {
    height: 160px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-direction: row;
}

.current-currencies-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.currency-value {
    font-size: 26px;
    padding: 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight:400;
    border: 2px dashed #fff;
    background-color: rgba(10,18,5, 0.7);
    margin: 20px;
    color: #fff8f8;
    text-shadow: 3px 3px 3px #000000;
}

.app-name {
    font-size: 42px;
    font-weight: 400;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #000000;
}

.currencies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    border: 2px dashed #fff;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}
