.App {
  text-align: center;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #3b3a3a;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}